.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.cabeçalho {
    background-color: var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display:none;
    position:absolute;
    top: 80%;
    width: 20vw;
    z-index: 1; /* Garantindo que a lista fique acima dos outros elementos */
    opacity: 1.0;
    list-style: none;
}
  
  /* Ocultar a lista-menu por padrão */
  .lista-menu.hidden {
    display: none;
  }

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--preto);
}

.lista-menu__titulo {
    color: var(--vermelho-degrade);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--vermelho-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}